html{
  
    scroll-behavior: smooth;
    font-family: sans-serif;
  
}
  
:root{
  
    --primary-color: #ffffff;
    --secondary-color: #212121;
  
}
  
.dark-theme{
  
    --primary-color: #000000;
    --secondary-color: rgb(230, 230, 230);
  
}
  
  
#body{
  
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0;
  
}
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');




/*navigation*/


#logo{

    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}


.topnav {
  
    overflow: hidden;
    width: 95%;
    height: auto;
    text-align: left;
    margin-left: 20px;
    margin-top: 8px;
    position: relative;
    display: inline-block;
    
}
  
  
.topnav a {
    
    display: inline-block;
    color: rgb(133, 133, 133);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 10px;
    
}
  
  
.topnav a:hover {
    color: var(--secondary-color);
    transition: ease-in-out bottom 1s, ease-in-out left 1s;
    transform: translateY(-2px);
    bottom: 40px;

}
  
  
.topnav .icon {
    display: none;
}




/* Dark Mode */

#moon{

    width: 30px;
    cursor: pointer;
    position: absolute;
    float: left;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 30px;
  
}

#login{

    float: right;
    flex: 1;
    text-align: right;
    overflow: hidden;
  
}


#download{

    width: 180px;
    height: 45px;
    margin-top: 33px;
    border-radius: 500px;
    font-family: sans-serif;
    font-size: 15px;
    border: 2px solid rgb(66, 66, 66);
    background-color: rgb(148, 148, 148);
    float: right;
    position: relative;

    background: linear-gradient(right green 0%,sand 50%,peach 100%);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    cursor: pointer;
}


  
/* Responsive navigation bar */
  
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}



/* Name */

#main{

    width: auto;
    text-align: left;
    font-size: 50px;
    font-family: sans-serif;
    margin-top: 140px;
    margin-left: 250px;
    overflow: visible;
    color: rgb(230, 89, 89);

}

#singh{
    margin-top: -70px;
    margin-left: 400px;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    font-style: bold;
    font-weight: 900;
    color: var(--secondary-color);
}

.drop{
    position: absolute;
    width: 370px;
    height: 370px;
    margin-left: 950px;
    margin-top: -200px;
    background-image: url(Images/Prabhkirat.png);
    background-size: cover;
    border-radius: 36% 64% 64% 36% / 39% 40% 60% 61%;
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.5);
}


/* Highlighted points about me */

#para{
    text-align: left;
    margin: 0 60px;
    margin-top: 100px;
}


/*Contact icons*/

#contact{
    text-align: left;
    margin: 0 60px;
    margin-bottom: 200px;
}

.col i:hover{
    color: rgb(226, 101, 89);
}

.li {
  color: var(--secondary-color);
}

/* for contact card icons */
.li2{
    color: black;
}


.bb{

  width: auto;
  padding: 12px;
  border: none;
  margin: 5px 0;
  display: inline-block;
  font-size: 25px;
  line-height: 10px;
  text-decoration: none;

}


/* BG div with skills and other information */


#block1{

    height: 600px;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-size: fill;
    justify-content: space-between;

}


/* Skills Box */

#skills{

    width: 30%;
    height: 340px;
    border: 1px solid black;
    background-color: rgb(226, 101, 89);
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 60px;
    top: 400px;
}

#ski{

    text-align: center;
}


/* Society Box */

#societies{

    width: 30%;
    height: 340px;
    border: 1px solid black;
    background-color: rgb(46, 155, 73);
    border-radius: 10px;
    margin-bottom: 60px;
    top: 400px;
}

#s1{

    text-align: center;
}

.logo{

    height: 100px;
    width: 100px;
    margin-top: 50px;
    margin-left: 50px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Licence Box */

#licence{

    width: 30%;
    height: 340px;
    border: 1px solid black;
    background-color: rgb(41, 70, 107);
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 60px;
    top: 400px;
}

#l1{

    text-align: center;
}

.lil{

    margin-left: 10px;
    text-decoration: none;
    color: dimgray;
}

.featured{

    position: relative;
    width: auto;
	height: 450px;
    background-color: rgb(134, 200, 184);
    border: 1px solid black;
    padding: 30px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    border-radius: 10px;
}



/* Hackathons and Compettions */

#hack{

    width: 100%;
    color: var(--secondary-color);
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;

}


/* Hackathon Blocks */

.hack1{

	width: auto;
	height: auto;
    background-color: #2E8364;
    border: 2px solid black;
    padding: 30px;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
    display: inline-block;
    color: black;
    border-radius: 10px;

}

.but1{

    cursor: pointer;
	font-size: 20px;
    float: right;
    margin-left: auto;
    text-decoration: none;
    color: #000;
    margin-top: 40px;

}

.but1:hover {
    color:rgb(88, 88, 88);
}


/* Images for hackathon block */


#h1{

    width: 300px;
    height: 300px;
    margin-top: 80px;
    margin-right: 20px;
    margin-left: 20px;
}

#h2{

    width: 300px;
    height: 300px;
    margin-right: 20px;
}

#h3{

    width: 300px;
    height: 300px;
    margin-right: 20px;
}

#h4{

    width: 300px;
    height: 300px;
    margin-right: 20px;
}









/* Contact Page */

.contact-section {
    padding: 30px;
    color: black;
    margin-bottom: 0;
}

#conheading{

    margin-left: 300px;
    color: var(--secondary-color);
}

#chat2{
    width: 300px;
    height: 100px;
    margin-left: 250px;
    margin-top: -80px;
    position: absolute;
    opacity: 50%;
}

#card{
    
    width: 50%;
	height: 350px;
    background-color: rgb(178, 73, 76);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 30px;
    display: inline-block;
    color: black;

}

#n{
    font-size: 40px;
    margin-left: 20px;
}

#in{

    margin-top: 60px;
    list-style-type: none;
    margin-left: -20px;
}

#vcard{

    width: 150px;
    margin: 0 500px;
    margin-top: -50px;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px

}

/* Contact page image */

#conimg{

    width: 250px;
    height: 250px;
    display: inline-block;
    margin-top: 110px;
    margin-left: 220px;
    position: absolute;
}

#text{

    position: absolute;
    display: inline-block;
    margin-left: 240px;
    margin-top: 60px;
    color: var(--secondary-color);

}