html{
  
    scroll-behavior: smooth;
    font-family: sans-serif;
  
}
  
:root{
  
    --primary-color: #ffffff;
    --secondary-color: #212121;
  
}
  
.dark-theme{
  
    --primary-color: #121212;
    --secondary-color: rgb(179, 179, 179);
  
}
  
  
#body{
  
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0;
  
}
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');




/*navigation*/


#logo{

    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}


.topnav {
  
    overflow: hidden;
    width: 95%;
    height: auto;
    text-align: left;
    margin-left: 20px;
    margin-top: 8px;
    position: relative;
    display: inline-block;
    
}
  
  
.topnav a {
    
    display: inline-block;
    color: rgb(133, 133, 133);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 10px;
    
}
  
  
.topnav a:hover {
    color: var(--secondary-color);
    transition: ease-in-out bottom 1s, ease-in-out left 1s;
    transform: translateY(-2px);
    bottom: 40px;

}




/* Dark Mode */

#moon{

    width: 30px;
    cursor: pointer;
    position: absolute;
    float: left;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 30px;
  
}

#login{

    float: right;
    flex: 1;
    text-align: right;
    overflow: hidden;
  
}


.download{

    width: 180px;
    height: 45px;
    text-align: center;
    margin-top: 33px;
    border-radius: 500px;
    font-family: sans-serif;
    font-size: 15px;
    border: 2px solid rgb(66, 66, 66);
    float: right;
    position: relative;
    cursor: pointer;

    background-image: linear-gradient(to right, #D66D75 0%, #E29587  51%, #D66D75  100%);
    transition: 0.5s;
    background-size: 200% auto;
    display: block;
}

.resbtn:hover {
    background-position: right center; /* change the direction of the change here */
    color: rgb(255, 255, 255);
    text-decoration: none;
} 
         

  
/* Responsive navigation bar */
  
@media screen and (max-width: 1000px) {
    .topnav a {
      display: none;
    }
    .login{
        display: none;
    }
    .download{
        float: right;
        margin-right: 20px;
    }
    
}



/* Name */

.main{

    width: auto;
    text-align: left;
    font-size: 50px;
    font-family: sans-serif;
    margin-top: 140px;
    margin-left: 250px;
    overflow: visible;
    color: rgb(230, 89, 89);

}

.singh{
    margin-top: -70px;
    margin-left: 400px;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    font-style: bold;
    font-weight: 900;
    color: var(--secondary-color);
}

.drop{
    position: absolute;
    width: 370px;
    height: 370px;
    margin-left: 950px;
    margin-top: -200px;
    background-image: url(Images/Prabhkirat.png);
    background-size: cover;
    border-radius: 50%;
}



/* Highlighted points about me */

.para{
    text-align: left;
    margin: 0 60px;
    margin-top: 100px;
}


/*Contact icons*/

.contact{
    text-align: left;
    margin: 0 60px;
    margin-bottom: 100px;
}

.col i:hover{
    color: rgb(226, 101, 89);
}

.li {
  color: var(--secondary-color);
}

/* for contact card icons */
.li2{
    color: black;
}


.bb{

  width: auto;
  padding: 12px;
  border: none;
  margin: 5px 0;
  display: inline-block;
  font-size: 25px;
  line-height: 10px;
  text-decoration: none;

}



@media screen and (max-width: 1000px) {
    .main{
        position: relative;
        text-align: center;
        margin: 0;
        margin-top: 100px;
        font-size: 40px;
    }
    .singh{
        position: relative;
        font-size: 30px;
        margin-left: 0;
        margin-top: -40px;
        margin-bottom: 80px;
    }
    .drop{
        position: relative;
        margin-top: 20px;
        margin-left: 30px;
        width: 350px;
        height: 350px;

    }
    .para{
        margin: 0;
        margin-top: 100px;
        text-align: center;
        list-style-type: none;
    }
    .contact{
        text-align: center;
        margin: 0 ;
        color: rgb(226, 101, 89);
    }
    .tags{
        text-align: center;
        margin: 0;
    }
    .listvaala{
        list-style: none;
        padding-left: 0;
    }

}



/*skills*/

.icon-box {
  display: flex;
  align-items: center;
  width: auto;
  padding: 18px;
  padding-left: 60px;
  transition: ease-in-out 0.3s;
}

.icon-box h3 {
  font-weight: 300;
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
  line-height: 1;
  font-size: 20px;
  color: var(--secondary-color);
}

.tech-icon{
    width: 28px;
    height: 28px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 150px;
  padding-top: 230px;
  text-align: center;

}

.grid-container > div {
  background-color: var(--primary-color);
  text-align: center;
  font-size: 30px;
}

@media screen and (max-width: 1000px) {
    .grid-container{
        margin-top: 200px;
        padding-left: 0px;
        padding: 0;
        grid-template-columns: auto auto;
    }
    .icon-box{
        padding-left: 30px;
    }
    .icon-box h3{
        font-size: 18px;
    }

}



/* Experience */

.detailsBox{
    margin-left: 160px;
    color: var(--secondary-color);
}


.details{
    margin-top: 100px;
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    .detailsBox{
        margin: 0 10px ;
        font-size: 18px;
    }
    .details{
        margin-top: 60px;
    }

}




/* Main Text Headings */

.maintext{
    font-size: 80px;
    font-family: sans-serif;
    position: absolute;
    margin-left: 100px;
    margin-top: 200px;
    color: rgb(230, 89, 89);
}

.maintext2{
    font-size: 80px;
    font-family: sans-serif;
    color: rgb(230, 89, 89);
    margin-top: 60px;
    margin-left: 100px;
}


@media screen and (max-width: 1000px) {
    .maintext {
        text-align: left;
        font-size: 65px;
        margin-left: 0px;
        margin-bottom: 0;
    }
    .maintext2{
        text-align: left;
        font-size: 65px;
        margin-left: 0px;
        margin-bottom: 0;
    }

}




/* Main Boxes CSS */

/* Float four columns side by side */
.column {
    float: left;
    width: 23%;
    height: auto;
    margin: 0 12px;
    color: black;
    margin-top: 25px;
    border-radius: 10px;
    background-color: rgb(216, 213, 213);
}
  
/* Remove extra left and right margins, due to padding */
.row {
    padding: 0 80px;
    margin: 0 10px;
    margin-top: 400px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.languages{
    text-align: center;
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: -12px;
    font-family:Arial, Helvetica, sans-serif;
}

.dot1 {
  height: 10px;
  width: 10px;
  background-color: rgb(211, 87, 53);
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 10px;
  width: 10px;
  background-color: rgb(69, 113, 161);
  border-radius: 50%;
  display: inline-block;
}
.dot3{
  height: 10px;
  width: 10px;
  background-color: rgb(182, 135, 79);
  border-radius: 50%;
  display: inline-block;
}
.dot4{
  height: 10px;
  width: 10px;
  background-color: rgb(82, 93, 145);
  border-radius: 50%;
  display: inline-block;
}


/* Responsive columns */
@media screen and (max-width: 900px) {
    .column {
        float: center;
        width: auto;
        margin-bottom: 20px;
    }
    .row{
        padding: 0 10px 0 10px;
        width: auto;
        height: auto;
        margin-top: 320px;
    }
}
  
/* Style the counter cards */
.card {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    height: auto;
}

.learnMore{
    text-decoration: none;
    color: rgb(53, 121, 246);
}




/* Hackathons and Compettions */

#hack{

    width: 100%;
    color: var(--secondary-color);
    text-align: center;
    margin-top: 300px;
    margin-bottom: 100px;

}


/* Hackathon Blocks */

.hack1{

	width: auto;
	height: auto;
    background-color: rgb(178, 73, 78);
    border: 2px solid black;
    padding: 30px;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    display: inline-block;
    color: black;
    border-radius: 10px;

}

.but1{

    cursor: pointer;
	font-size: 20px;
    float: center;
    margin-left: auto;
    text-decoration: none;
    color: #000;
    margin-top: 40px;

}

.but1:hover {
    color:rgb(58, 58, 58);
}


/* Images for hackathon block */


.img1{

    width: 200px;
    height: 200px;
    margin-top: 80px;
    margin-right: 20px;
    margin-left: 20px;
}

.img2{

    width: 200px;
    height: 200px;
    margin-right: 20px;
}


@media screen and (max-width: 1000px) {
    .hack1{
        float: center;
        width: auto;
        height: auto;
        font-size: 15px;
        margin: 0 10px 10px 10px;
    }
    .img1{
        display: none;
    }
    .img2{
        display: none;
    }

}


/* Blogs */

.blog-row {
  margin-bottom: 150px;
  margin-top: 60px;
  margin-left: 40px;
  padding: 0 80px;

}

.blog-img{
    width: 400px;
    height: 220px;
    max-width: 100%;
}

/* Add padding BETWEEN each column */
.blog-row,
.blog-row > .blog-entry {
  padding: 10px;
}

/* Create equal columns that floats next to each other */
.blog-entry {
  float: left;
  width: 30%;
  height: auto;
  margin: 0 10px; 
}

/* Clear floats after rows */ 
.blog-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .blog-entry {
    width: 85%;
  }
  .blog-row{
      margin-top: 100px;
      /* margin-left: 50px; */
      max-width: 100%;
      padding: 0;
      display: inline-block;
  }
  .blog-img{
      width: 80%;
      height: auto;
  }
}





/* Contact Page */

.contact-section {
    padding: 30px;
    color: black;
}

.conheading{

    margin-left: 300px;
    color: var(--secondary-color);
}

.chat2{
    width: 300px;
    height: 100px;
    margin-left: 250px;
    margin-top: -80px;
    position: absolute;
    opacity: 50%;
}

.cards2{
    
    width: 50%;
	height: 350px;
    background-color: rgb(178, 73, 76);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 30px;
    color: black;
    display: inline-block;

}

#n{
    font-size: 40px;
    margin-left: 20px;
}

#in{

    margin-top: 60px;
    list-style-type: none;
    margin-left: -20px;
}

.vcard{

    width: 150px;
    margin: 0 500px;
    margin-top: -50px;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px

}

@media screen and (max-width: 1000px) {
    .reveal{
        size: auto;
        width: 90%;
        height: auto;
        margin: 50px 20px;
    }

    .conheading{
        width: auto;
        margin-left: auto;
        height: auto;
        text-align: center;
    }
    .chat2{
        display: none;
    }
    .vcard{
        display: none;
    }
    .contact-section{
        width: 85%;
        display: inline-block;
        height: auto;
        margin: 0;
    }
}


/* Contact page image */

.conimg{

    width: 250px;
    height: 250px;
    display: inline-block;
    margin-top: 110px;
    margin-left: 220px;
    position: absolute;
}

.qr{

    position: absolute;
    display: inline-block;
    margin-left: 240px;
    margin-top: 60px;
    color: var(--secondary-color);

}

@media screen and (max-width: 1000px) {
    .conimg{
        display: none;
    }
    .qr{
        display: none;
    }
}


/* Footer */

.foot{
    background-color: transparent;
    width: auto;
    height: auto;
    color: var(--secondary-color);
    text-align: right;
    margin-right: 20px;

}

@media screen and (max-width: 1000px) {
    .foot{
        text-align: center;
        margin: auto;
    }

}